<!doctype HTML>
<html lang="en" ng-app="ToDoList">
  <head>
    <title> ToDo</title>
    <link rel="shortcut icon" href="images/pirate.ico" type="image/x-icon">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/toDoListController.js"></script>
  </head>
  <body ng-controller="ToDoListController as taskCtrl">
    <h1>To do</h1>
      <form class="form-horizontal" name="task-entry" ng-submit="taskCtrl.createTask()">
        <input type="text" ng-model="taskCtrl.newTask" placeholder="Enter your task" required>
        <button class="btn task-create" type="submit">Add task</button>
      </form>
    <ul class="list-group">

      <li class="list-group-item"
        ng-repeat="task in taskCtrl.tasks">
        <span class="task-name" ng-click="editing = !editing">{{task.name}}</span>
        <button class="btn show-edit-button" type="submit" ng-hide="editing" ng-click="editing = !editing">Open task</button>
        <button class="btn hide-edit-button" type="submit" ng-show="editing" ng-click="editing = !editing">Close task</button>
          <form class="task-options" ng-show="editing">
            <input type="text" ng-model="taskCtrl.newName" placeholder="Change your task...?" ng-required/>
            <br/>
            <button class="btn update-button" ng-click="taskCtrl.editTask(task)" type="submit">Update</button>
            <button class="btn" type="submit">Mark complete</button>
            <button class="btn delete-button" ng-click="taskCtrl.deleteTask(task)" type="submit">Delete</button>
          </form>
      </li>
        <p id='count'> {{taskCtrl.tasks.length}} tasks incomplete </p>
      <div>
        <button class="btn">All</button>
        <button class="btn">Active</button>
        <button class="btn">Complete</button>
        <button class="btn">Clear all</button>
      </div>
    </ul>
  </body>
</html>
